@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"); /* Google: Inter */

.myBook .stf__item.--hard,
.myBook .stf__hard {
  box-shadow: none !important;
}

@theme {
  --font-inter: "Inter", sans-serif;
}

/* .talking #mouthClosed {
  visibility: hidden;
}
.talking #mouthOpen {
  visibility: visible;
}

 */

@keyframes mouthFlip {
  0% {
    visibility: show;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: show;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#company {
  animation-name: fadeIn;
  animation-duration: 0.5s;
}

.tiny {
  font-size: 0.7rem;
}

.quiet #mouth {
  visibility: hidden;
}

.talking #mouth {
  animation: mouthFlip 0.4s steps(1) infinite;
}

.speech-bubble {
  width: 200px;
  height: 100px;
  background-color: white;
  border-radius: 0.5rem;
  position: relative;
  box-shadow: 4px 3px black;
  left: 45px;
}

.speech-bubble:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid white;
  border-top: 10px solid white;
  border-bottom: 10px solid transparent;
  right: 20px;
  bottom: -20px;
  filter: drop-shadow(3px 3px black);
}

@media (width >= 48rem) {
  .speech-bubble {
    width: 230px;
    height: 130px;
  }
}

@media (width >= 64rem) {
  .speech-bubble {
    width: 250px;
    height: 150px;
  }

  .speech-bubble:before {
    border-left: 15px solid transparent;
    border-right: 15px solid white;
    border-top: 15px solid white;
    border-bottom: 15px solid transparent;
    bottom: -30px;
  }
}
